{% extends 'base.html' %}
{% load extra_filters partials %}

{% block title %}{{user.email}} Profile{% endblock title %}
{% block modal %}
  {% include 'includes/modal.html' %}
{% endblock modal %}

{% startpartial menu_list %}
<!--  Active Menus  -->
<div class="py-3">
  {% include 'meals/includes/active-menus.html' %}
</div>

<!-- Not Active Menus -->
<div class="py-3">
  {% include 'meals/includes/inactive-menus.html' %}
</div>

{% endpartial%}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Profile of {{user.email}}</h2>

    <div class="row g-4">
      <div class="col" id="menu-list">
        <h3 class="mb-3">
          Menu Info
        </h3>

        {% partial menu_list %}
      </div>
{% endblock content %}
