{% extends 'base.html' %}
{% load extra_filters %}


{% block title %}{{user.email}} Profile{% endblock title %}


{% block content %}
  <div class="container mt-5">
    <h1 class="mb-3">Profile of {{user.email}}</h1>

    <div class="row g-5">
      <!--  Personal Info  -->
      <div class="col-md-6">
        <h3 class="mb-3">Personal Info</h3>
        <p class="text-muted">{% lorem 25 w %}</p>
      </div>
      <!--  School Info  -->
      <div class="col-md-6">
        <h3 class="mb-3">School Info</h3>
        <p class="text-muted">{% lorem 25 w %}</p>
      </div>
      <div class="col">
        <h3 class="mb-3">Menu Info</h3>

        <!--  Active Menus  -->
        {% for menu in menus %}
          {% if menu.active %}
            <div class="mb-5">
              <h5 class="mb-4">Active Menus</h5>
              <div>
                <h6 class="mb-3"><a href="{% url 'meals:menu_view' menu.pk %}">{{menu.title}}</a></h6>
                <!--  Active Weeks  -->
                <div hx-get="{% url 'meals:menu_weeks_view' menu.pk %}" hx-trigger="load"></div>
              </div>
            </div>
          {% endif %}
        {% endfor %}

        <!-- Not Active Menus -->
        {% for menu in menus %}
          {% if not menu.active %}
            <div class="mb-5">
              <h5 class="mb-4">Not Active Menus</h5>
              <div>
                <h6 class="mb-3"><a href="{% url 'meals:menu_view' menu.pk %}">{{menu.title}}</a></h6>
                <!--  Active Weeks  -->
                <div hx-get="{% url 'meals:menu_weeks_view' menu.pk %}" hx-trigger="load"></div>
              </div>
            </div>
          {% endif %}
        {% endfor %}

      </div>
    </div>



  </div>
{% endblock content %}
