<h5 class='mb-3'>Published Menus</h5>
<div>
  <div class="row g-3">
    {% for menu in active_menus %}
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">
              {{menu.get_type_display}}
              <a class="btn btn-sm btn-light ms-5" href="{% url 'meals:menu_view' menu.pk %}"
              >View</a>
              <button class="btn btn-sm btn-light" hx-post="{% url 'meals:menu_hide' menu.pk %}"
                      hx-target="#menu-list">Hide</button>
            </h6>
            <!--  Active Weeks  -->
            <div hx-get="{% url 'meals:menu_active_weeks' menu.pk %}" hx-trigger="load"></div>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="fst-italic text-muted">No menu present here.</p>
    {% endfor %}
  </div>
</div>
