<div class="text-center py-2">
  <div class="row row-cols-4 g-3 text-center">
    {% for week, active in weeks.items %}
      <div class="col">
        <div class="card {% if active %}text-bg-secondary{% else %}text-bg-light{% endif %}">
          <div class="card-body">
            {% if active %}
              <a href="{% url 'meals:menu_weekly_view' menu.pk week %}" class="link-light">Week {{week}}</a>
            {% else %}
              <a class="link-dark"
                 hx-post="{% url 'meals:week_add' menu.pk week %}"
                 hx-target="#menu-list">+ Week</a>
            {% endif %}
          </div>
        </div>
        {% if active %}
          <button type="button" class="btn btn-sm btn-light mt-3">Load File</button>
          {% if week == last_week %}
            <button type="button" class="btn btn-sm btn-light mt-3"
                    hx-post="{% url 'meals:week_cancel' menu.pk week %}"
                    hx-target="#menu-list"
                    hx-swap="outerHTML"
                    hx-confirm="Are you sure to delete week #{{week}}?">Delete</button>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
