{% if week_has_meals %}
  <div class="col-12">
    <h4 class="m-3 text-center">Week {{forloop.counter}}</h4>
  </div>
  {% for meal in weekly_meals %}
    <div class="col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="mb-3">{{meal.get_day_display}}</h5>
          <ul class="list-unstyled">
            <li>{{meal.first_course}}</li>
            <li>{{meal.second_course}}</li>
            <li>{{meal.side_dish}}</li>
            <li>{{meal.fruit}}</li>
            <li>{{meal.snack}}</li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}

{% endif %}
