<div class="text-center py-2">
  <div class="row row-cols-4 g-3 text-center">
    {% for week, active in weeks.items %}
      {% if active %}
        <div class="col">
          <div class="card text-bg-secondary">
            <div class="card-body">
              <a href="{% url 'meals:menu_weekly_view' menu.pk week %}" class="link-light">Week {{week}}</a>
            </div>
          </div>
        </div>
      {% else %}
        <div class="col">
          <div class="card text-bg-light">
            <div class="card-body">
              <a href="{% url 'meals:week_meals_create' menu.pk week %}">+</a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
