{% extends 'base.html' %}
{% load partials %}

{% startpartial meal_list%}
<div class="row g-3" id="meal-list"
     hx-trigger="mealUpdated from:body"
     hx-get="{% url 'meals:menu_weekly_view' menu.pk week %}"
     hx-swap="outerHTML">
  {% for meal in weekly_meals %}
    <div class="col-lg-6 col-xxl-4">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-4 text-center">{{meal.get_day_display}}</h5>
          <div id="meal-{{meal.pk}}">
            <ul class="list-unstyled vstack gap-2 text-center">
              <li>{{meal.first_course}}</li>
              <li>{{meal.second_course}}</li>
              <li>{{meal.side_dish}}</li>
              <li>{{meal.fruit}}</li>
              <li>{{meal.snack}}</li>
            </ul>
            <div class="d-grid">
              <button class="btn btn-sm btn-light ms-2"
                      hx-get="{% url 'meals:meal_update' meal.pk %}"
                      hx-target="#meal-{{meal.pk}}"
                      hx-swap="innerHTML">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endpartial%}

{% block content %}
  <div class="container">
    <h2 class="m-5 text-center">Week {{week}}</h2>
    {% partial meal_list %}
  </div>
{% endblock content %}
